<div class="response-container" *ngIf="responseData">
  <p>{{ responseData.message }}</p>
</div>

<div class="form-container">
  <div class="form-group">
    <label for="nameInput">Name:</label>
    <input type="text" id="nameInput" class="form-control" [(ngModel)]="name" />
  </div>

  <div class="form-group">
    <label for="valueInput">Value:</label>
    <input
      type="text"
      id="valueInput"
      class="form-control"
      [(ngModel)]="value" />
  </div>

  <button class="btn btn-primary" (click)="send()">Send</button>
</div>
